/*setting up page*/
html {
    background: #f9eaea;
}
html * {
    font-family: "avenir", "helvetica", "sans-serif" !important;
}

h1 {
    text-align: center;
    background: #f9eaea;
    height: 60px;
    padding-top: 10px;
    margin: 0 !important;
}

/*HELP POP-UP*/

#popup {
    display:none;
    position:absolute;
    font-size: 24px;
    margin:0 auto;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 2px #000;
    border-radius: 20px;
    background: white;
    z-index: 9999999;
}

#close {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background: #009ACD;
    border: none;
    color: white;
}

.home {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

#line1 {
    position: absolute;
    width: 420px;
    border-top-style: dashed;
    margin-left: 50px;
    margin-top: 40px;
    border-width: 1px;
    z-index: -9999999;
    transform: rotate(14deg);
}

#line2 {
    position: absolute;
    width: 200px;
    border-top-style: dashed;
    margin-left: 50px;
    margin-top: 45px;
    border-width: 1px;
    z-index: -9999999;
    transform: rotate(150deg);
}


#line3 {
    position: absolute;
    width: 550px;
    border-top-style: dashed;
    margin-left: 50px;
    margin-top: 45px;
    border-width: 1px;
    z-index: -9999999;
    transform: rotate(10deg);
}

#dashLine1 {
    position: absolute;
    width: 250px;
    border-top-style: dashed;
    margin-left: 50px;
    margin-top: 45px;
    border-width: 1px;
    z-index: -9999999;
    transform: rotate(-25deg);
}

#dashLine2 {
    position: absolute;
    width: 400px;
    border-top-style: dashed;
    margin-left: 50px;
    margin-top: 45px;
    border-width: 1px;
    z-index: -9999999;
    transform: rotate(14deg);
}

.section {
    height: 90px;
    width: 90px;
    border-style: none;
    border-radius: 45px;
    font-size: 7px;
}

.section p{
    padding-top: 30px;
    padding-left: 5px;
}


#clickHere {
    font-size: 32px;
    text-align: center;
    margin-left: -40px;
    float: left;
}

#arrow {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

/*zoom buttons*/

#navArrows {
    margin-left: 87%;
}

.zoomButton {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #b2497d;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    margin-top: -45px;
    margin-left: 10px;
}

#previousButton {
    float: left;

}

#nextButton {
    float: right;

}

/*About Me*/

#aboutme {
    background: #AFAAC6;
    font-size: 3px;
    padding-top: 10px;
    margin-left: -10px;
}

#aboutme p {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 15px;
    width: 80px;

}

#aboutLabel {
    font-size: 5px;
    color: white;
    padding-left: 20px !important;
    letter-spacing: 0.3px;
}

#aboutme img {        
    position: absolute;
    margin-left: -20px;
    margin-top: 30px;
}

/*Skills*/

#skills {
    border-style: none;
}
#skillsCircle {
    position: absolute;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background: #FDBA40;
    font-size: 7px;
    text-align: center;
    line-height: 50px;
    color: white;
}

#outerCircle {
    position: absolute;
    height: 70px;
    width: 70px;
    border-style: solid;
    border-radius: 35px;
    margin-left: 10px;
    margin-top: 10px;
    border-color: #B8D7D0;
}

#ucd {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #8C9F9E;
    margin-left: 60px;
    margin-top: 5px;
    font-size: 2.5px;
    text-align: center;
    padding-top: 8px;
}

#dataVis {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #B8D7D0;
    font-size: 4px;
    text-align: center;
    padding-top: 9px;
}

#webProgram {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #8C9F9E;
    margin-left: 0px;
    margin-top: 57px;
    font-size: 2.5px;
    text-align: center;
    padding-top: 7px;
}

#webCircle {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #C2A592;
    margin-left: -5px;
    margin-top: 52px;
}

#EDA {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background: #C2A592;
    margin-left: 58px;
    margin-top: 63px;
    font-size: 3px;
    text-align: center;
    padding-top: 9px;
}

#EDACircle {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FDBA40;
    border-width: 2px;
    margin-left: 53px;
    margin-top: 58px;
}

#regression {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #AFA9C6;
    margin-left: 83px;
    margin-top: 55px;
    font-size: 3px;
    text-align: center;
    padding-top: 7px;
}

/*SOFTWARE*/

#software p{
    position: absolute;
    padding: 0;
    width: 120px;
    text-align: center;
    margin-top: 7px;
}

.bargraph {     
    height: 70px; 
    width: 10px;
    position: relative; 
    border-left: 1px solid #d4d4d4;
    margin: 0px;
    margin-left: 30px;
}

.bargraph ul.bars {
    margin: 0; 
    padding: 0; 
    list-style-type: none;
}


.bargraph ul.bars li {  
    position: absolute; 
    width: 12px; 
    height: 90px; 
    bottom: 0px; 
    padding: 0; 
    margin: 0; 
    z-index: 99;
}


.bargraph ul.bars li.bar1 { left: 10px; background: #FDBA40;}
.bargraph ul.bars li.bar2 { left: 27px;  background: #C2A592;}
.bargraph ul.bars li.bar3 { left: 44px; background: #AFA9C6;}
.bargraph ul.bars li.bar4 { left: 61px; background: #8C9F9E;}


.bargraph ul.bars li.bluebar  { background-position: 0px bottom; }
.bargraph ul.bars li.redbar   { background-position: -30px bottom; }
.bargraph ul.bars li.greenbar { background-position: -60px bottom; }
.bargraph ul.bars li.orangebar  {  background-position: -90px bottom; }


.label { list-style-type: none; 
         position: absolute; bottom: -10px; 
         margin: 0; padding: 0; margin-left: 5px;}
.label li { 
    color: black; 
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    font-size: 2px;
    width: 17px;
    float: left;
    text-align: center;
}


ul.y-axis { list-style-type: none; position: absolute; 
    left: -45px; 
    width: 40px;
    text-align: right;
    bottom: -17px;
    margin: 0; padding: 0; 
}

ul.y-axis li:first-child {
    height: 40px;
    line-height: 40px;
}

ul.y-axis li { 
    color: #999797;  
    font-size: 3px;
    height: 30px;
    line-height: 20px;
    text-align: right;
}


/*RESEARCH*/

#research {
    background: #A6D2C8;
    border-style: none;
    padding-top: 10px;
}

#resTitle {
    padding: 0;
    font-size: 7px;
    color: white;
    padding-left: 25px !important;
    letter-spacing: 0.3px;
}

#timeLine {
    position: absolute;
    width: 80px;
    height: 80px;
    border-top-style: solid;
    border-width: 1px;
    margin-top: 35px;
    margin-left: 5px;
}

.tick {
    position: absolute;
    height: 2px;
    border-left-style: solid;
    border-width: 1px;
}

#res1 {
    position: absolute;
    height: 10px;
    width: 15px;
    background: #D8D8D8;
    margin-top: 25px;
    margin-left: 25px;
}

#res1 span, #res2 span, #res3 span{
    position: absolute;
    font-size: 2px;
    visibility: hidden;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 3px;
    margin-top: 10px;
    width: 40px;
    line-height: 3px;
}

#res1:hover span, #res2:hover span, #res3:hover span{
    visibility: visible;
}

#res2 {
    position: absolute;
    height: 10px;
    width: 15px;
    background: #ABABAB;
    margin-top: 25px;
    margin-left: 40px;
}

#res3 {
    position: absolute;
    height: 10px;
    width: 20px;
    background: #727272;
    margin-top: 25px;
    margin-left: 55px;  
} 

.resLabel {
    position: fixed;
    padding: 0;
    margin: 0;
    font-size: 2px;
}


#hoverInst {
    font-size: 2.5px;
    color: #4D4D4D;
    text-align: center;
    line-height: 40px;
}

#dot1 {
    margin-left: 7px;
    margin-top: -25px;
    max-width: 8%;
    image-rendering: crisp-edges;
}

#dot2 {
    margin-left: 7px;
    margin-top: -15px;
    max-width: 7%;
}

#dot3 {
    margin-left: 10px;
    margin-top: -31px;
    max-width: 4%;
}


/*HOBBIES*/

#hobbies {
    background: #D89F79;
    border-style: none;
    padding-top: 27px;
}


#hobTitle {
    position: absolute;
    padding: 0;
    font-size: 5px;
    color: white;
    letter-spacing: 0.3px;
    margin-top: 14px;
    background: rgba(0, 0, 0, 0.7);
    height: 8px;
    width: 55px;
    text-align: center;
    line-height: 8px;
}

#hobbyHover { font-size: 4px; padding-top: 42px; }

#hobbies img {
    position: absolute;
    opacity: 0.5;
}

#images {
    position: absolute;
    height: 33px;
    width: 55px;
    margin-left: 18px;
}

#images:hover > #violin {
    margin-left: -25px;
    margin-top: -7px;
    opacity: 1;
}

#violin {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#images:hover > #ski {
    margin-left: 18px;
    margin-top: -30px;
    opacity: 1;
}

#ski {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#images:hover > #plane {
    margin-left: 50px;
    margin-top: -7px;
    width: 30px;
    opacity: 1;
}

#plane {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#images:hover > #fish {
    margin-left: 40px;
    margin-top: 30px;
    opacity: 1;
}

#fish {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#images:hover > #iceland {
    margin-left: -10px;
    margin-top: 30px;
    opacity: 1;
}

#iceland {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#images:hover > #hobTitle { background: none; }

#images:hover > #hobbyHover { visibility: hidden; }


/*CONTACT ME*/

#contactme {
    height: 70px;
    width: 70px;
    background: #8C9F9E;
    border-style: none;
    padding-top: 30px;
}

#contTitle {
    position: absolute;
    padding: 0;
    font-size: 5px;
    color: black;
    padding-left: 10px !important;
    margin-top: -15px;
    letter-spacing: 0.3px;  
}


#gameInst {
    position: absolute;
    font-size: 3px;
    padding: 0;
    padding-left: 12px;
    text-align: center;
    color: white;
}

#contactme input {
    position: absolute;
    width: 30px;
    height: 10px;
    outline: none;
    resize: none;
    border: none;
    font-size: 6px;
    background: white;
    border-radius: 3px;
    box-shadow: 0.75px 0.75px black;
    text-align: center;
}

#input {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;

}

#contactInfo{
    height: 46px;
    width: 46px;
    border-radius: 23px;
    background: #FDBA40;
    margin-left: 55px;
    margin-top: -35px;
    font-size: 4px;
    padding-left: 12px;
    padding-top: 10px;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#contactInfo:hover{
    opacity: 1;
}

#contact {
    padding: 0;
    font-size: 3px;
    margin-top: 6px;
    line-height: 8px;
}

#contact p{
    margin: 0;
}

#hooray1 {
    display: none;
    width: 60px;
    position: absolute;
    font-size: 6px;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    text-align: center;
}

#hooray2 {
    display: none;
    position: absolute;
    font-size: 3px;
    width: 60px;
    text-align: center;
    padding: 0;
    padding-top: 0px;
    padding-left: 5px;
}


#boo {
    display: none;
    position: absolute;
    font-size: 3px;
    margin-top: -35px;
    width: 60px;
    text-align: center;
}


#hypotheses {
    display: none;
    font-size: 2px;
    margin-top: 20px;
    margin-left: 15px;
}

#hypotheses p{
    padding: 1px;
    margin: 0;
}

#falseMessage {
    display: none;
    position: absolute;
    font-size: 4px;
    margin-top: -35px;
    width: 60px;
    text-align: center;
}   

